SECRET_KEY="(-xa!e&s8w5b(avvfx8sn)4-tt!zx)_iy*t@$!5m3@x)kcwnge"
DEBUG=False
ALLOWED_HOSTS=kpi-ml-service.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgresql://postgres.eetfqqmnshpxagepwqnz:r7v98Sad8NxSvlwC@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?sslmode=require&options=-csearch_path%3Dml
DB_SEARCH_PATH=ml
SUPABASE_URL=https://eetfqqmnshpxagepwqnz.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_5MsxEHb4cat4SrMFQWG-Ow_X2btNvcr
SUPABASE_BUCKET=ml-models
ML_API_KEY=Dw1ixDHFW0vo2osOzMPQd6ULNz5ptcnR6XdAHEX6aLXy83mEDiKN7pQwV7wYLC_o
DJANGO_SUPERUSER_CREATE=false
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_UPDATE_PASSWORD=false
DJANGO_SUPERUSER_STRICT=false
ML_MAX_PREDICT_BATCH=1000
ML_EXCLUDED_ROLES=HR,ADMIN,COMMISSION
ML_BOOTSTRAP_ON_START=true
ML_BOOTSTRAP_LOAD_DATASET=true
ML_BOOTSTRAP_TRAIN=true
ML_BOOTSTRAP_MODEL_TYPES=linear_regression,random_forest
ML_BOOTSTRAP_PRIMARY_MODEL_TYPE=random_forest
ML_BOOTSTRAP_STRICT=false